// Import Vuetify styling
$body-font-family = "M PLUS 1p", -apple-system, BlinkMacSystemFont, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
@require '~vuetify/src/stylus/main.styl'

