.embedly-card {
  text-decoration: none !important;
}

.card {
  box-sizing: border-box;
  padding: 16px;
  overflow: hidden;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 8.09px 24.26px rgba(67, 54, 102, 0.08);
  transition: 0.3s ease-out;
}

.card:hover {
  box-shadow: 0 28.3px 88.94px rgba(67, 54, 102, 0.2);
}

.card__header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.card__favicon {
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
}

.card__provider {
  color: #222;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 16px;
}

.card__body.is-wide {
  flex-direction: column;
  align-items: stretch;
}

@media screen and (max-width: 768px) {
  .card__body {
    flex-direction: column;
    margin-bottom: 16px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .card__body iframe {
    width: auto;
    height: auto;
  }
}

.card__thumbnail {
  display: block;
  width: 180px;
  margin: 0 24px 0 0;
  box-shadow: none;
}

.card__body.is-wide .card__thumbnail {
  width: 100%;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .card__thumbnail {
    margin-bottom: 16px;
  }
}

.card__title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.card__description {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 20px;
}

.card__nav {
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;

  &:hover {
    opacity: .5;
  }
}
